<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL_BLL.Properties.Settings.QL_MUABAN_TBDTConnectionString"
            connectionString="Data Source=VIETSACLO-PC\SQLEXPRESS;Initial Catalog=QL_MUABAN_TBDT;User ID=sa;Password=vietsaclo1999"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>